# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [5]:

list1=[[1,2,3],[4,5],[6,7,8,9]]
for lst in list1:
    for val in lst:
        print(val,end=' ')
    print(end='\n')

1 2 3
4 5
6 7 8 9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [8]:
list2=[[10,20],[30],[5,7,8]]
nest_list_count=0

for lst in list2:
    sum=0
    nest_list_count+=1
    for val in lst:
        sum+=val
    print(f"Sum of {nest_list_count} List:{sum}")

Sum of 1 List:30
Sum of 2 List:30
Sum of 3 List:20

## **3. Count how many even numbers are present in a nested list.**

In [ ]:
list3 = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
count = 0

for lst in list3:
    for number in lst:
        if number % 2 == 0:
            count += 1

print(f"Total even numbers: {count}")

Total even numbers: 4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [14]:
list4=[['prathamesh','dabhole'],['waghapur','kolhapur'],['computer']]

for lst in list4:
    for item in lst:
        print(item.upper(),end=' ')
    print(end='\n')

PRATHAMESH DABHOLE
WAGHAPUR KOLHAPUR
COMPUTER

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [16]:
list5=[[80,90,85],[75,70,65],[88,92,79]]

for lst in list5:
    sum=0
    for item in lst:
        sum+=item
    print(f"Total Marks:{sum}")

Total Marks:255
Total Marks:210
Total Marks:259

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [24]:
new_list=[]
list6=[[40,90,85],[20,70,65],[88,25,79]]

for lst in list6:
    for item in lst:
        if item>50:
            new_list.append(item)

new_list

[90, 85, 70, 65, 88, 79]

## **7. Find the largest number inside a nested list.**

In [18]:
list7=[[80,90,85],[75,250,65],[500,92,120]]
large=0

for lst in list7:
    for item in lst:
        if item>large:
            large=item

print(large)

500

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [7]:
nested_list = [[1, 2], [3, 4], [5]]
flat_list = []
for lst in nested_list:
    for item in lst:
        flat_list.append(item)

print(flat_list)

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [4]:
list9=[[-10,90,85],[75,-45,65],[-90,92,120]]
for lst in list9:
    for i in range(len(lst)):
        if lst[i] < 0:
            lst[i] = 0

print(list9)

[[0, 90, 85], [75, 0, 65], [0, 92, 120]]

## **10. Count how many inner lists exist inside a nested list.**

In [6]:
list7=[[-10,90,85],[75,-45,65],[-90,92,120],[23,24],[100]]
count=0

for lst in list7:
    count+=1

print(count)

5

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [1]:
dict11={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}

for name,details in dict11.items():
  age = details['age']
  print(f"Name: {name}, Age: {age}")

Name: A, Age: 15
Name: B, Age: 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [1]:
students_scores = {
    'A': {'age': 15, 'marks': 85},
    'B': {'age': 16, 'marks': 90},
    'C': {'age': 15, 'marks': 78}
}

for name, details in students_scores.items():
    details['marks'] += 5

students_scores

{'A': {'age': 15, 'marks': 90},
 'B': {'age': 16, 'marks': 95},
 'C': {'age': 15, 'marks': 83}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [ ]:
dict13 = {
    'ID_01': {'name': 'Prathamesh', 'role': 'Admin', 'salary': 50000},
    'ID_02': {'name': 'Ashish',  'role': 'User',  'salary': 30000, "age":40}
}

for id, user_info in dict13.items():
    inner_keys = list(user_info.keys()) 
    print(f"ID {id} has keys: {inner_keys}")

ID ID_01 has keys: ['name', 'role', 'salary']
ID ID_02 has keys: ['name', 'role', 'salary', 'age']

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [8]:
dict14={
    'A':{'math':85,'science':90},
    'B':{'math':70,'science':88},
    'C':{'math':100,'science':88}
}

count=0

for name,sub in dict14.items():
    if sub['math']>80:
      count+=1

print(count)

2

## **15. Create a new dictionary of students whose age is above 15.**

In [3]:
dict15 = {
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11},
  'C': {'age': 14, 'grade': 9},
  'D': {'age': 17, 'grade': 12}
}

above_15 = {}

for name, details in dict15.items():
    if details['age'] > 15:
        above_15[name] = details

print(above_15)

{'B': {'age': 16, 'grade': 11}, 'D': {'age': 17, 'grade': 12}}

## **16. Find which student scored highest in science.**

In [16]:
list16 = {
    'A': {'Math': 90, 'Science': 95, 'English': 88},
    'B': {'Math': 85, 'Science': 92, 'English': 90},
    'C': {'Math': 92, 'Science': 80, 'English': 85}
}

highest=0
highest_scorer = None

for name,det in list16.items():
    if highest<det['Science']:
        highest=det['Science']
        highest_scorer = name

print(f"Student {highest_scorer} achieve highest score")

Student A achieve highest score

## **17. Print employees who belong to the HR department from this dictionary.**

In [9]:
employee_data = {
    'Atish': {'department': 'HR', 'salary': 60000},
    'Bhagya': {'department': 'Engineering', 'salary': 80000},
    'Chetan': {'department': 'HR', 'salary': 65000},
    'Tejas': {'department': 'Sales', 'salary': 70000}
}

hr_employees = []

for name, details in employee_data.items():
    if details['department'] == 'HR':
        hr_employees.append(name)

print("Employees in the HR Department:")
for employee in hr_employees:
    print(employee)

Employees in the HR Department:
Atish
Chetan

## **18. Delete all entries where the status is 'inactive'.**

In [11]:
dict18 = {
    'user_101': {'status': 'active', 'level': 5},
    'user_102': {'status': 'inactive', 'level': 2},
    'user_103': {'status': 'active', 'level': 8},
    'user_104': {'status': 'inactive', 'level': 1}
}

keys_to_delete = []

active_entries = {
    key: value
    for key, value in dict18.items()
    if value['status'] != 'inactive'
}

active_entries

{'user_101': {'status': 'active', 'level': 5},
 'user_103': {'status': 'active', 'level': 8}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [12]:
dict19 = {
    'item_A': {'price': 10.00, 'quantity': 50},
    'item_B': {'price': 25.50, 'quantity': 100},
    'item_C': {'price': 5.99, 'quantity': 25}
}

total_stock = 0

for details in dict19.values():
    total_stock += details['quantity']

total_stock

175

## **20. Convert all inner dictionary keys to uppercase.**

In [15]:
dict20 = {
    'item_A': {'name': 'Laptop', 'price': 1200, 'manufacturer': 'Dell'},
    'item_B': {'name': 'Mouse', 'price': 25, 'manufacturer': 'Logitech'}
}

result_dict = {}

for outer_key,details in dict20.items():
    new_inner_dict = {}
    for key,value in details.items():
       new_inner_dict[key.upper()] = value
    
    result_dict[outer_key] = new_inner_dict

result_dict

{'item_A': {'NAME': 'Laptop', 'PRICE': 1200, 'MANUFACTURER': 'Dell'},
 'item_B': {'NAME': 'Mouse', 'PRICE': 25, 'MANUFACTURER': 'Logitech'}}