### 1. Print numbers from 1 to 10 using a for loop

In [1]:
for num1 in range(1,11):
    print(num1)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [4]:
for even_num in range(2,20,2):
    print(even_num)

2
4
6
8
10
12
14
16
18

### 3. Print each character of the string 'Python' using a for loop

In [5]:
str3="Python"
for char3 in str3:
    print(char3)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [6]:
for num4 in range(1,6):
    print(num4**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [12]:
list5=[23,"Prathamesh",45.50,90,88]

for ind in range(len(list5)):
  print(list5[ind])

23
Prathamesh
45.5
90
88

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [15]:
sum=0
for num6 in range(1,51):
    sum=sum+num6

print(sum)

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [21]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [16]:
for num in range(1,11):
    print(7*num)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [18]:
str9="education"
vovel_count=0
for char9 in str9:
    if(char9=='a' or char9=='e' or char9=='i' or char9=='o' or char9=='u'):
        vovel_count+=1

print(vovel_count)

5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [21]:
for num10 in range(1,30,2):
    print(num10)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [23]:
str11="PRAthamesH"
upper_count=0
for char in str11:
    if char.isupper():
        upper_count+=1

print(upper_count)

4

### 12. Create a new list that contains only the positive numbers from another list

In [ ]:
pos_lst=[]
lst12=[12,-13,-23.45,100,-24,20,30]

for item in lst12:
    if item>0:
        pos_lst.append(item)s

print(pos_lst)

[12, 100, 20, 30]

### 13. Print numbers from 1 to 10 using a while loop

In [2]:
num=1
while(num<=10):
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [3]:
num=5
int=1
while(int<=10):
    print(num*int)
    int+=1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [5]:
num=10
while (num>=1):
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [5]:
user_number=int(input("Type something or 0 to quit!"))

while user_number!=0:
    user_number=int(input("Type something or 0 to quit!"))
    print(user_number)

13
0

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [15]:
sum=0
num=0
while num<=10:
    sum=sum+num
    num+=1
sum

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [24]:
fruit_price = {
    "Apple": 140,
    "Banana": 200,
    "Orange": 190,
    "Mango": 150
}

for fruit in fruit_price.keys():
    print(fruit)

Apple
Banana
Orange
Mango

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [23]:
fruit_price = {
    "Apple": 140,
    "Banana": 200,
    "Orange": 190,
    "Mango": 150,
    "Watermelon":120
}

for price in fruit_price.values():
    print(price)

140
200
190
150
120

### 20. Print both keys and values of a dictionary using a for loop

In [27]:
student_marks = {
    "Suraj": 95,
    "Guru": 88,
    "Athrv": 79,
    "Mangesh": 92
}

for name, score in student_marks.items():
    print(f"Name: {name}, Marks: {score}")

Name: Suraj, Marks: 95
Name: Guru, Marks: 88
Name: Athrv, Marks: 79
Name: Mangesh, Marks: 92

### 21. Count how many keys are in a dictionary using a for loop

In [30]:
count=0

for key in student_marks.keys():
    count+=1

print(f"key count:{count}")

key count:4

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [31]:
data_dict = {
    "apple": 1,
    "banana": 2,
    "apricot": 3,
    "cherry": 4,
    "avocado": 5
}

for key in data_dict:
    if key.startswith("a"):
        print(key)

apple
apricot
avocado

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [ ]:
student_mark = {
    "Suraj": 95,
    "Guru": 88,
    "Athrv": 79,
    "Mangesh": 92,
    "tejas":60,
}

for name, score in student_marks.items():
    if score>80:
        print(f"Name: {name}, Marks: {score}")

Name: Suraj, Marks: 95
Name: Guru, Marks: 88
Name: Mangesh, Marks: 92

### 24. Given a dictionary, print the sum of all the values using a for loop

In [34]:
val_sum=0
for score in student_marks.values():
        val_sum+=score

print(f"Sum: {val_sum}")

Sum: 354

### 25. Given a dictionary, find the key with the highest value using a for loop

In [36]:
high=0
for score in student_marks.values():
    if score>high:
        high=score

print(f"Highest Score: {high}")

Highest Score: 95

### 26. Convert all dictionary keys into a list using a for loop

In [40]:
dict26= {
    "Red": "#FF0000",
    "Green": "#00FF00",
    "Blue": "#0000FF",
    "Yellow": "#FFFF00"
}

key_list=[]  #empty list
for key in dict26:
    key_list.append(key)

print(key_list)

['Red', 'Green', 'Blue', 'Yellow']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [9]:
word_lengths = {
    "Python": 6,
    "Dictionary": 10,
    "Loop": 4,
    "Data": 4,
    "Key": 3
}

for word, length in word_lengths.items():
     print(f"word:'{word} length :{length} ")

word:'Python length :6
word:'Dictionary length :10
word:'Loop length :4
word:'Data length :4
word:'Key length :3

### 28. Given a list of numbers, print only numbers greater than 10

In [27]:
lst28=[12,4,67,35,90,17,20,2,-27]

for item in lst28:
    if item>10:
        print(item)

12
67
35
90
17
20

### 29. Count how many elements in a list are integers using a for loop

In [25]:
lst29=[12,14,13.56,"Pratham",345,90]

for item in lst29:
    if isinstance(item,int):
        print(item)

12
14
345
90

### 30. Print the sum of all even numbers in a list using a for loop

In [4]:
even_sum=0
lst=[10,11,15,20,45,26,30]
for num in lst:
    if num%2==0:
        even_sum+=num

print(even_sum)

86

### 31. Print the cube of each number in a list of 5 numbers

In [6]:
lst31=[12,13,15,8,18,20]

for num in lst31:
    print(num**3)

1728
2197
3375
512
5832
8000

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [6]:
str="Python is fun"

for i in str.split():
    print(i)

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [7]:
for num in range(1,6):
    print(3*num)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [11]:
lst34=['Abhilash','Shubham','Tejas','Atharv','Ashish']

for name in lst34:
    if name.startswith('A'):
        print(name)

Abhilash
Atharv
Ashish

### 35. Find the largest number in a list using a for loop

In [18]:
lst35=[2000,10,340,23,560,1909]
large=lst35[0]

for num in range(len(lst35)):
    if lst35[num]>large:
        large=lst35[num]

print(large)

2000

### 36. Print the index and value of each element in a list

In [6]:
lst36=["Ashutosh",79,56,20,67,45.69]

for index in range(len(lst36)):
    print(f"{index}::{lst36[index]}")

0::Ashutosh
1::79
2::56
3::20
4::67
5::45.69

### 37. Create a dictionary with 5 students and their marks

In [11]:
stu_dict={"stud1":"Shubham","marks1":90,
          "stud2":"Tejas","marks2":75,
          "stud3":"Ashish","marks3":80,
          "stud4":"Harish","marks4":95,
          "stud5":"Satyajeet","marks5":60}

### 38. Use a for loop to print all student names

In [15]:
for key in stu_dict.keys():
    if key.startswith("stud"):
      print(stu_dict[key])

Shubham
Tejas
Ashish
Harish
Satyajeet

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [16]:
fruit_dict={
    "Apple": 190,
    "Banana": 150,
    "Orange": 100,
    "Mango": 200
}

for fruit, price in fruit_dict.items():
    print(f"{fruit}: Rs.{price}")

Apple: Rs.190
Banana: Rs.150
Orange: Rs.100
Mango: Rs.200

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [10]:
products = {
    "Laptop": 1200,
    "Mouse": 25.50,
    "Keyboard": 75,
    "Monitor": 350,
    "Webcam": 45
}

for product_name in products:
    new_price = round(products[product_name] * 1.10, 2)
    products[product_name] = new_price

products

{'Laptop': 1320.0,
 'Mouse': 28.05,
 'Keyboard': 82.5,
 'Monitor': 385.0,
 'Webcam': 49.5}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [11]:
data = {
    "A": 100, "B": 45, "C": 75, "D": 20, "E": 90,
    "F": 15, "G": 60, "H": 110, "I": 30, "J": 85
}

for key in list(data.keys()):
    if data[key] < 50:
        del data[key]

data

{'A': 100, 'C': 75, 'E': 90, 'G': 60, 'H': 110, 'J': 85}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [13]:
student_marks = {
    "Math": 92,
    "Science": 88,
    "History": 79,
    "English": 95
}

student_marks["marathi"]=92

for subject, marks in student_marks.items():
    print(f"Subject:{subject}, Marks:{marks}")

Subject:Math, Marks:92
Subject:Science, Marks:88
Subject:History, Marks:79
Subject:English, Marks:95
Subject:marathi, Marks:92

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [2]:
age_dict={
    "Shubham":20,
    "Tejas":25,
    "Ashish":30,
    "Harish":19,
    "Satyajeet":15
}

for age in age_dict:
    age_dict[age]+=1

print(age_dict)

{'Shubham': 21, 'Tejas': 26, 'Ashish': 31, 'Harish': 20, 'Satyajeet': 16}

### 44. Print numbers from 0 to 9 using range()

In [19]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [20]:
for num in range(5,16):
    print(num)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [21]:
for num in range(1,20,2):
    print(num)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [3]:
lst47=[12,34,"Shubham",67.78,91,67]
print(len(lst47))

6

### 48. Print the length of a given string using len()

In [2]:
str="Prathamesh Jotiram Dabhole"
print(len(str))

26

### 49. Use range() and len() to iterate over a list by index and print each element

In [1]:
lst49=[1,"Ashish",23,89,34.57,12]

for index in range(len(lst49)):
    print(lst49[index])

1
Ashish
23
89
34.57
12

### 50. Print the sum of numbers from 1 to 100 using range()

In [10]:
sum=0

for num in range(1,100):
    sum+=num

print(sum)

4950