### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [5]:
dict1={"name":"Prathamesh","age":25,"city":"Kolhapur"}
print(dict1)

{'name': 'Prathamesh', 'age': 25, 'city': 'Kolhapur'}

### 2. Create a dictionary and print the value of a specific key.

In [6]:
dict2 = {"name": "Prathamesh", "age": 25, "city": "Kolhapur"} 
print(dict2["city"])

Kolhapur

### 3. Create a list of 5 numbers and print the second element.

In [12]:
lst1=[10,20,30,40,50]
print(lst1[1])

20

### 4. Add an element "banana" to an existing list.

In [11]:
lst2=['apple','orange','grape','pineapple']
lst2.append('banana')
print(lst2)

['apple', 'orange', 'grape', 'pineapple', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [15]:
lst3=['apple','orange','grape','pineapple']
lst3.insert(1,'apple')
print(lst3)

['apple', 'apple', 'orange', 'grape', 'pineapple']

### 6. Remove the element 10 from a list.

In [2]:
lst4 = [5, 10, 15, 20, 50]
lst4.remove(10)
print(lst4)

[5, 15, 20, 50]

### 7. Create a tuple with 4 elements and print the last one.

In [4]:
tuple1 = ("Earth", "Mars", "Jupiter", "Saturn")
print(tuple1[-1])

Saturn

### 8. Convert a tuple into a list.

In [6]:
my_tuple = (1, 2, "three", 4.0, True)
my_list = list(my_tuple)
print(my_list)
print(type(my_list))

[1, 2, 'three', 4.0, True]
<class 'list'>

### 9. Find the length of a given tuple.

In [7]:
student_info = ("Prathamesh", 25, "Computer Science", 3.8, "Active")
len(student_info)

5

### 10. Store 5 student names in a list and print them using a loop.

In [8]:
student_names = ["Arjun", "Bhavya", "Chitra", "Deepak", "Esha"]
print("List of Student Names:")
for name in student_names:
    print(name)

List of Student Names:
Arjun
Bhavya
Chitra
Deepak
Esha

### 11. Create two lists and concatenate them.

In [9]:
list_a = [10, 20, 30]
list_b = [40, 50, 60]
list_a + list_b

[10, 20, 30, 40, 50, 60]

### 12. Reverse a list without using reverse().

In [10]:
original_list = [10, 20, 30, 40, 50]
original_list[::-1]

[50, 40, 30, 20, 10]

### 13. Sort a list in descending order.

In [11]:
scores = [45, 12, 60, 22, 55]
sorted(scores, reverse=True)

[60, 55, 45, 22, 12]

### 14. Create a set with 5 numbers and add a new number.

In [13]:
set1 = {10, 20, 30, 40, 50}
set1.add(60)
print(set1)

{50, 20, 40, 10, 60, 30}

### 15. Remove an element from a set using discard().

In [14]:
languages = {"Python", "Java", "C++", "JavaScript", "Ruby"}
languages.discard("C++")
print(languages)

{'JavaScript', 'Java', 'Python', 'Ruby'}

### 16. Find the union of two sets.

In [15]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1 | set2

{1, 2, 3, 4, 5, 6}

### 17. Find the intersection of two sets.

In [16]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
set_a & set_b

{4, 5}

### 18. Check if a value exists in a set.

In [17]:
ids = {101, 204, 311, 405, 509}
509 in ids

True

### 19. Create a set and clear all elements.

In [19]:
tools = {"VS Code", "PyCharm", "Jupyter", "Atom"}
tools.clear()
print(tools)

set()

### 20. Convert a list with duplicate values into a set.

In [21]:
data_list = [10, 20, 30, 10, 40, 50, 20, 60]
setlist=set(data_list)
print(setlist)

{40, 10, 50, 20, 60, 30}

### 21. Create a dictionary and update the value of a key.

In [22]:
student_info = {
    "name": "Shubham",
    "grade": "A",
    "age": 20,
    "major": "Biology"
}
student_info["grade"] = "A+"
student_info

{'name': 'Shubham', 'grade': 'A+', 'age': 20, 'major': 'Biology'}

### 22. Delete a key-value pair from a dictionary.

In [26]:
student_info.pop("age")
print(student_info)

{'name': 'Shubham', 'grade': 'A+'}

### 23. Print all keys of a dictionary.

In [4]:
employee_data = {
    "emp_id": "A101",
    "department": "Marketing",
    "salary": 60000,
    "is_manager": False
}
employee_data.keys()

dict_keys(['emp_id', 'department', 'salary', 'is_manager'])

### 24. Print all values of a dictionary.

In [30]:
employee_data.values()

dict_values(['A101', 'Marketing', 60000, False])

### 25. Loop through a dictionary and print key and value.

In [5]:
for key, value in employee_data.items():
    print(f"Key: {key}  value: {value}")

Key: emp_id  value: A101
Key: department  value: Marketing
Key: salary  value: 60000
Key: is_manager  value: False

### 26. Create a list of numbers and print only even numbers.

In [35]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [number for number in number_list if number % 2 == 0]
even_numbers

[2, 4, 6, 8, 10]

### 27. Create a tuple and unpack it into 3 variables.

In [38]:
student_record = ("Harry", 40, "Civil Engineering")
name, age, dept = student_record
print(f"Name: {name}")
print(f"Age: {age}")
print(f"Dept: {dept}")

Name: Harry
Age: 40
Dept: Civil Engineering

### 28. Check if a number is greater than 10 using a comparison operator.

In [39]:
my_number = 15
is_greater = my_number > 10
is_greater

True

### 29. Use the in operator to check if "python" exists in a list.

In [40]:
language_list = ["java", "c++", "python", "javascript", "swift"]
"python" in language_list

True

### 30. Use the and operator in a condition.

In [41]:
score = 95
attendance = 0.95
score>90 and attendance>0.90

True

### 31. Use the % operator to check if a number is divisible by 5.

In [42]:
number= 45
remainder = number % 5
if remainder == 0:
    print(f"{number} is divisible by 5.")
else:
    print(f"{number} is NOT divisible by 5.")

45 is divisible by 5.

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [43]:
number2=2**5
number2

32

### 33. Create two numbers and compare them using >=.

In [45]:
num3=100
num4=200
num3>=num4

False

### 34. Create a list and remove the last element using pop().

In [46]:
shopping_list = ["Milk", "Bread", "Eggs", "Cheese", "Apples"]
shopping_list.pop()

'Apples'

### 35. Create a list and print its first and last elements.

In [48]:
cities = ["Paris", "London", "Tokyo", "Rome", "Cairo"]
print(cities[0])
print(cities[-1])

Paris
Cairo

### 36. Count how many times "apple" appears in a list.

In [49]:
fruit = ["apple", "banana", "cherry", "apple", "grape", "apple", "mango"]
fruit.count("apple")

3

### 37. Create a tuple and check if a value exists using in.

In [50]:
exam_scores = (75, 88, 92, 65, 95)
95 in exam_scores

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [52]:
student_grades = {
    "Pratham": 92,
    "shubham": 88,
    "HArish": 95,
    "Ashish": 79
}
list(student_grades.keys())

['Pratham', 'shubham', 'HArish', 'Ashish']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [53]:
student_record = {
    "student_id": "S4001",
    "name": "Sarah Miller",  
    "scores": {
        "Mathematics": 95,
        "Physics": 88,
        "English": 92
    }
}

### 40. Merge two dictionaries into one.

In [55]:
personal_info = {"name": "Gaurav", "age": 28}
contact_info = {"phone": "555-1234", "email": "gaurav@example.com"}
personal_info.update(contact_info)
print(personal_info)

{'name': 'Gaurav', 'age': 28, 'phone': '555-1234', 'email': 'gaurav@example.com'}

### 41. Create a set and print the number of elements.

In [56]:
colors = {"red", "green", "blue", "yellow", "red"}
len(colors)

4

### 42. Create a dictionary and print all items using items().

In [57]:
user_settings = {
    "theme": "Dark",
    "notifications": True,
    "language": "English",
}
for key, value in user_settings.items():
    print(f"Key: {key}, Value: {value}")

Key: theme, Value: Dark
Key: notifications, Value: True
Key: language, Value: English

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [58]:
number_list = list(range(1, 11))
squares_list = [num ** 2 for num in range(1, 11)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 44. Multiply two numbers and print the result using *.

In [59]:
num1 = 7
num2 = 12
num1*num2

84

### 45. Divide two numbers and print the results using / and //.

In [61]:
num3=50
num4=15
print(num3/num4)
print(num3//num4)

3.3333333333333335
3

### 46. Create a list and replace the element at index 1.

In [62]:
fruits = ["apple", "banana", "cherry", "date"]
fruits[1] = "grape"
fruits

['apple', 'grape', 'cherry', 'date']

### 47. Create a tuple from user input (3 values).

In [1]:
input1 = input("Enter the first value: ")
input2 = input("Enter the second value: ")
input3 = input("Enter the third value: ")
user_tuple=(input1,input2,input3)
user_tuple

('50', '100', '150')

### 48. Create a set from a string and print all unique characters.

In [1]:
my_string = "programming"
unique_chars = set(my_string)
print(unique_chars)

{'g', 'p', 'a', 'm', 'i', 'r', 'n', 'o'}

### 49. Use the is operator to compare two variables.

In [2]:
a = 100
b = 100
print(a == b)
print(a is b)

True
True

### 50. Create a dictionary and check if a key exists using in.

In [4]:
user_settings = {
    "theme": "Dark",
    "notifications": True,
    "language": "English",
}
'theme' in user_settings

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [5]:
number = 35
number>10 and number<50

True

### 52. Check if a number is less than 5 or greater than 20 using or.

In [6]:
number=50
number<5 or number>20

True

### 53. Use not to check if a list is not empty.

In [7]:
data_list = [1, 2, 3]
not(data_list)

False

### 54. Write code to check if a character is a vowel using or.

In [9]:
char = 'I'
is_vowel = (char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u' or
            char == 'A' or char == 'E' or char == 'I' or char == 'O' or char == 'U')

if  is_vowel:
    print("true")
else:
    print("false")

true

### 55. Check if a dictionary has both keys "name" and "age".

In [10]:
user_data = {
    "name": "Abhiraj",
    "age": 30,
    "city": "Pune"
}
"name" in user_data and "age" in user_data

True

### 56. Verify if a set contains either 10 or 20.

In [11]:
numbers = {5, 15, 20, 25, 30}
10 in numbers or 20 in numbers

True

### 57. Use not to check if a number is not equal to 100.

In [12]:
test_number = 99
not (test_number == 100)

True

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [14]:
student_marks = 45
student_attendance = 82
student_marks > 35 and student_attendance > 75

True

### 59. Use logical operators to check if a number is positive and even.

In [16]:
number = 18
number > 0 and number % 2 == 0

True

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [17]:
tuple1 = (1, 2, 3, 4, 5)
len(tuple1) > 3 or 0 in tuple1

True